.yy_choice {
  background: white;
  padding-top: 40px;
  margin-bottom: 0;
}
.yy_choice a {
  width: 700px;
  height: 550px;
  display: inline-block;
  border-radius: 5%;
  opacity: 0.5;
  margin-left: 43px;
}
.yy_choice a:hover {
  opacity: 1;
}
.yy_choice .sports {
  background: url("../images/sports1.png");
  background-size: cover;
}
.yy_choice .study {
  background: url("../images/study1.png");
  background-size: cover;
}
